body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0 15px; /* Add padding for smaller screens */
}

h1, h2, p {
    color: white;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

/* Buttons */
button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100%; /* Adapt button width */
    max-width: 200px;
    margin: 10px auto; /* Center buttons */
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    button {
        max-width: 150px; /* Reduce button width */
        padding: 8px;
    }
}

#delete-btn {
    background: darkblue;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
